<script type="text/template" id="shoppingCartItem">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-shoppingCartItemForm">
    <% if(shoppingCartItem.id) {%>
    <input type="hidden" name="id" value="<%= shoppingCartItem.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="quantity">Quantity</label>
    	<input type="text" class="form-control" id="quantity" name="quantity" placeholder="Enter value" value="<%= shoppingCartItem.get('quantity') %>"/>	
		</div>
		<div class="form-group" >
		<label for="unitPrice">Unit Price</label>
    	<input type="text" class="form-control" id="unitPrice" name="unitPrice" placeholder="Enter value" value="<%= shoppingCartItem.get('unitPrice') %>"/>	
		</div>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= shoppingCartItem.get('name') %>"/>	
		</div>
		<div class="form-group" >
 
			<label for="productshoppingcartitemidId">Productshoppingcartitem Id</label> 
            <select class="form-control" id="productshoppingcartitemId" name="productshoppingcartitemId">
			  <option value="">None</option>
            <% productShoppingCartItem.each(function(productshoppingcartitemid) { %> 
              <option value="<%=productshoppingcartitemid.get('id')%>" <% if(shoppingCartItem.get('productshoppingcartitemId')==productshoppingcartitemid.get('id')) {%>selected<%}%> ><%=productshoppingcartitemid.get('name')%></option>
            <% }); %>                
            </select>  
		</div>
    </form>
    </div>
</script> 