<script type="text/template" id="bonus">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-bonusForm">
    <% if(bonus.id) {%>
    <input type="hidden" name="id" value="<%= bonus.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= bonus.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="description">Description</label>
    	<input type="text" class="form-control" id="description" name="description" placeholder="Enter value" value="<%= bonus.get('description') %>"/>	
		</div>
		<div class="form-group" >
		<label for="value">Value</label>
    	<input type="text" class="form-control" id="value" name="value" placeholder="Enter value" value="<%= bonus.get('value') %>"/>	
		</div>
		<div class="form-group" >
		<label for="status">Status</label>
    	<input type="text" class="form-control" id="status" name="status" placeholder="Enter value" value="<%= bonus.get('status') %>"/>	
		</div>
		<div class="form-group" >
 
			<label for="buyeridId">Buyer Id</label> 
            <select class="form-control" id="buyerId" name="buyerId">
			  <option value="">None</option>
            <% buyer.each(function(buyerid) { %> 
              <option value="<%=buyerid.get('id')%>" <% if(bonus.get('buyerId')==buyerid.get('id')) {%>selected<%}%> ><%=buyerid.get('name')%></option>
            <% }); %>                
            </select>  
		</div>
    </form>
    </div>
</script> 