<script type="text/template" id="creditCard">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-creditCardForm">
    <% if(creditCard.id) {%>
    <input type="hidden" name="id" value="<%= creditCard.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="cardNumber">Card Number</label>
    	<input type="text" class="form-control" id="cardNumber" name="cardNumber" placeholder="Enter value" value="<%= creditCard.get('cardNumber') %>"/>	
		</div>
		<div class="form-group" >
			<label for="expirationDate">Expiration Date</label>
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="expirationDate"  name="expirationDate" placeholder="Enter value" />
    		<%= '<scr'+'ipt>' %>
        	$('#expirationDate').datepicker({autoclose:true});
        	$('#expirationDate').datepicker('setDate',App.Utils.Converter.date.toDate("<%= creditCard.get('expirationDate') %>"));
    		<%= '</scr'+'ipt>' %>
		</div>
		<div class="form-group" >
		<label for="cvc">Cvc</label>
    	<input type="text" class="form-control" id="cvc" name="cvc" placeholder="Enter value" value="<%= creditCard.get('cvc') %>"/>	
		</div>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= creditCard.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="branch">Branch</label>
    	<input type="text" class="form-control" id="branch" name="branch" placeholder="Enter value" value="<%= creditCard.get('branch') %>"/>	
		</div>
		<div class="form-group" >
		<label for="accountType">Account Type</label>
    	<input type="text" class="form-control" id="accountType" name="accountType" placeholder="Enter value" value="<%= creditCard.get('accountType') %>"/>	
		</div>
    </form>
    </div>
</script> 