<script type="text/template" id="purchaseItem">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-purchaseItemForm">
    <% if(purchaseItem.id) {%>
    <input type="hidden" name="id" value="<%= purchaseItem.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="unitPrice">Unit Price</label>
    	<input type="text" class="form-control" id="unitPrice" name="unitPrice" placeholder="Enter value" value="<%= purchaseItem.get('unitPrice') %>"/>	
		</div>
		<div class="form-group" >
		<label for="quantity">Quantity</label>
    	<input type="text" class="form-control" id="quantity" name="quantity" placeholder="Enter value" value="<%= purchaseItem.get('quantity') %>"/>	
		</div>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= purchaseItem.get('name') %>"/>	
		</div>
		<div class="form-group" >
 
			<label for="productidId">Product Id</label> 
            <select class="form-control" id="productId" name="productId">
			  <option value="">None</option>
            <% product.each(function(productid) { %> 
              <option value="<%=productid.get('id')%>" <% if(purchaseItem.get('productId')==productid.get('id')) {%>selected<%}%> ><%=productid.get('name')%></option>
            <% }); %>                
            </select>  
		</div>
    </form>
    </div>
</script> 